.title {
    font-family: 'Source Code Pro VF', 'Source Code Pro';
    border-bottom: 4px solid #f97082;
    padding-bottom: 8px;
    margin-bottom: 28px;
    letter-spacing: 8px;
    color: #0a192f;
    max-width: max-content;
    > span {
      font-weight: 900;
      font-size: 40px;
      line-height: 0px;
    }
}