#root {
  background-color: #F7FAFC;
}
.slider {
  scroll-snap-type: y mandatory;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  .slide {
    scroll-snap-align: start;
    margin: 10px 0; /* Agrega un margen para el espaciado */
  }
}